.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
web-app/.next/**
web-app/node_modules/**
web-app/package-lock.json
web-app/tailwind.config.js
web-app/postcss.config.js
web-app/tsconfig.json
web-app/public/**
web-app/styles/**
*.log